@use 'variables' as v;
@use 'mixins' as m;

.experience {
    padding: 180px 0;
    margin: 0 auto;
    text-align: center;
    @include m.d-flex(start, center, nowrap, column, 0, 90px);
    &__title {
        @include m.font(60px, 400, v.$color-white);
        @media (width<= v.$media_md) {
            @include m.font(35px, 400, v.$color-white);
        }
    }
    &__cards-wrapper {
        @include m.d-flex(space-around, center, wrap, row, 20px, 55px);
        width: 100%;
        padding: 0 15px;
    }
    @media (width<= v.$media_md) {
        padding: 80px 0;
        @include m.d-flex(start, center, nowrap, column, 0, 60px);
    }
}
