@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.header {
    width: 100%;
    height: 50px;
    background-color: color.adjust(v.$color_white, $alpha: -0.9);
    // background-color: v.$color_blue;

    border: {
        bottom: {
            width: 1px;
            style: solid;
            color: v.$color_white;
        }
    }
    .nav {
        height: 50px;
        @include m.d-flex(start, center);

        &__title {
            height: 100%;
            width: 255px;
            border-right: 1px solid v.$color_white;
            @include m.d-flex(center, center);

            &-link {
                font-weight: 500;
                font-size: 25px;
                line-height: 1.2;
                color: v.$color_white;
                transition: color 0.6s ease;

                span {
                    font-weight: 700;
                }
                @extend %hover-black;
            }
        }
        &__links {
            flex-grow: 1;

            .list {
                @include m.d-flex(start, center, nowrap, row, min(100px, 3vw), 0);
                padding: 0 0 0 min(100px, 3vw);

                &__item {
                    &-link {
                        transition: color 0.6s ease;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 1.36;
                        color: v.$color_white;

                        @extend %hover-black;
                    }
                }
            }
            @media (max-width: v.$media_lg) {
                .list {
                    @include m.d-flex(center, center, nowrap, row, min(100px, 3vw), 0);
                    padding: 0;
                }
            }
        }
        .covid {
            height: 100%;
            @include m.d-flex(center, center);
            padding: 0 30px;

            border: {
                left: 1px solid v.$color_white;
                right: 1px solid v.$color_white;
            }

            &__link {
                transition: color 0.6s ease;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.87;
                color: v.$color_white;

                @extend %hover-black;
            }
        }
        .globe {
            width: 90px;
            @include m.d-flex(center, center);

            &__link {
                &-icon {
                    width: 27px;
                    height: 28px;

                    @extend %hover-black-icon;
                }
            }
        }
        @media (max-width: v.$media_sm) {
            &__links,
            .globe,
            .covid {
                display: none;
            }
        }
    }
}

.mobile-navigation {
    display: none;

    &__burger {
        @include m.position(absolute, 10, -1, top, right, 10px, 10px);

        &-icon {
            width: 33px;
            height: 22px;
            stroke: v.$color-white;
            @extend %hover-black-icon;
        }
    }

    &__toggler {
        display: none;
        &:checked + nav {
            translate: 0;
        }
    }
    .nav {
        padding: 100px 70px 0;
        @include m.position(fixed, 999, 0);
        background-color: color.adjust(v.$color_black, $alpha: -0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        translate: 100% 0;
        transition: translate 0.3s ease;

        &__list {
            @include m.d-flex(start, start, nowrap, column, 0, 20px);
            &-item {
                &-link {
                    @include m.font(36px, 400, v.$color-white);
                    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
                }
            }
        }
        &__cross {
            @include m.position(absolute, 10, -1, top, right, 20px, 20px);
            &-icon {
                width: 25px;
                height: 22px;
                stroke: v.$color-white;
                @extend %hover-black-icon;
            }
        }
    }

    @media (max-width: v.$media_sm) {
        display: block;
    }
}
